<link rel="stylesheet" type="text/css" media="all" href="/lib/med_form/form_css/styles.css">


<div id="wrapper">

  <h1>CHANGE MEDICATION INFO</h1>

  <form name="newMedForm" ng-submit="vm.submitEditMed()">

    <div class="col-2">
      <div>
        <label>
          Medication Name
          <input placeholder="Ex. Tylenol" id="name" name="name" tabindex="1" ng-model="vm.editMed.name" ng-required="true">
        </label>
      </div>
    </div>
    <div class="col-3">
      <label>
        Dosage
        <div>
        <input placeholder="Ex. 500" id="company" name="company" tabindex="2" ng-model="vm.editMed.dose" ng-required="true">
        <select tabindex="2" ng-model="vm.editMed.units" ng-required="true">
          <option value="">Ex. unit</option>
          <option ng-repeat="unit in vm.doseUnits track by $index" value="{{unit}}">{{unit}}</option>
        </select>
        </div>
      </label>
    </div>

    <div class="col-q">
      <label>
        Quantity
        <select tabindex="3" ng-model="vm.editMed.quantity">
          <option ng-repeat="q in vm.quantity track by $index" value="{{q}}">{{q}}</option>
        </select>
      </label>
    </div>

    <div class="col-1">
      <label>
        Direction
        <input ng-model="vm.editMed.direction" placeholder="Proper way to take this medicaiton" id="direction" name="direction" tabindex="4">
      </label>
    </div>

    <div class="col-1">
      <label>
        Description
        <input ng-model="vm.editMed.description" placeholder="What is the best # to reach you?" id="description" name="description" tabindex="5">
      </label>
    </div>

    <div class="col-2">
      <label>
        How many times a day?
        <select tabindex="6" ng-model="vm.frequency" ng-change="vm.generateEmptyArray()" ng-required="true">
          <option ng-repeat="f in vm.quantity track by $index" ng-if="$index < 10" value="{{f}}">{{f}}</option>
        </select>
      </label>
    </div>

    <div class="col-3">
      <label>Send Reminder</label>
      <center style="position:relative; margin-bottom:8px;">
        <input tabindex="7"  type="checkbox" class="js-switch" ng-checked="true" ng-true-value="true" ng-false-value="false" ng-model="vm.editMed.reminder">
      </center>
    </div>

    <div class="col-q">
      <label for="">
        <input tabindex="8" type="text">
      </label>
    </div>


    <div class="col-3" ng-repeat="box in vm.emptyArr track by $index">
      <label class="when">
        When? &nbsp;<strong style="font-weight: bolder;">Slot {{$index + 1}}</strong> &nbsp; &nbsp; &nbsp;
        <div>
          <select name="hour" tabindex="9" tabindex="5" ng-model="vm.emptyArr[$index].hr" ng-required="true" >
            <option value="">HR</option>
            <option ng-repeat="hr in vm.quantity track by $index" ng-if="$index < 12" value="{{hr}}" >{{hr}}</option>
          </select> <strong style="font-weight: bolder">:</strong>
          <select tabindex="9" tabindex="5" ng-model="vm.emptyArr[$index].min">
            <option value="">MIN</option>
            <option ng-repeat="min in [00,15,30,45]" value="{{min}}">{{min}}</option>
          </select>
          <select tabindex="9" tabindex="5" ng-model="vm.emptyArr[$index].apm" ng-required="true">
            <option value="">A|P</option>
            <option ng-repeat="apm in ['am','pm']" value="{{apm}}">{{apm}}</option>
          </select>
        </div>

      </label>
    </div>

    <div class="col-submit">
      <button ng-disable="newMedForm.$invalid" class="submitbtn">Submit</button>
    </div>



  </form>
</div>







