<div class="addnewmeds">
    <form name="newRegimenForm" ng-submit="vm.submitnewRegimen();">

      <div class="form-group">
        <input ng-model="vm.newRegimen.name" type="text" class="form-control" id="" placeholder="name">
        <input ng-model="vm.newRegimen.dosage" type="text" class="form-control" id="" placeholder="dosage">
        <textarea ng-model="vm.newRegimen.description" name="" id="" cols="30" rows="10" placeholder="description"></textarea>
        <select name="" id="" ng-model="vm.newRegimen.reminder">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <input ng-model="vm.newRegimen.hour" type="number" min="0" max="24" class="form-control" id="" placeholder="hour">
        <select name="" id="" ng-model="vm.newRegimen.minute" placeholder="minute">
          <option value="0">0</option>
          <option value="30">30</option>
        </select>
      </div>

      <div class="newregimen-submit">
        <button type="submit" class="btn btn-default">add a new regimen</button>
      </div>
    </form>
</div>


