<div>
  <ul ng-repeat="med in vm.regimenIndex">
    <li>{{med.name}}</li>
  </ul>

</div>







<div class="add-new-meds-form">
    <form name="newRegimenForm" ng-submit="vm.submitnewRegimen();">

      <div class="form-group">
        <div>
          <label for="drug name">drug name:</label>
          <input ng-model="vm.newRegimen.name" type="text" class="form-control" id="" placeholder="drug name">
        </div>
        <div>
          <label for="drug name">dosage:</label>
          <input ng-model="vm.newRegimen.dosage" type="text" class="form-control" id="" placeholder="dosage">
        </div>
        <div>
          <label for="drug name">description:</label>
          <textarea ng-model="vm.newRegimen.description" name="" id="" cols="30" rows="10" placeholder="description"></textarea>
        </div>
        <div>
          <label for="drug name">dosage:</label>
          <select name="" id="" ng-model="vm.newRegimen.reminder">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <div>
          <label for="time">hour:</label>
        <input ng-model="vm.newRegimen.hour" type="number" min="0" max="24" class="form-control" id="" placeholder="hour">
        </div>
        <div>
          <label for="time">minute:</label>
          <select name="" id="" ng-model="vm.newRegimen.minute" placeholder="minute">
            <option value="0">0</option>
            <option value="30">30</option>
          </select>
        </div>
      </div>

      <input type="text" id="time" data-format="HH:mm" data-template="HH : mm" name="datetime">


      <div class="newregimen-submit">
        <button type="submit" class="btn btn-default">add a new regimen</button>
      </div>
    </form>
</div>


