
<h1>My report</h1>
<div id="wrapper" ng-repeat="(date, reportArray) in vm.reportList track by $index">

  <div class="card-n-icon">
    <div class="card" >
      <div class="col-1" >
        <div class="col-1" ng-repeat="ra in reportArray track by $index" >
           <h1 ng-if="$index === 0">{{date.slice(0,16)}}</h1><br>
            <h2 style="font-size: 30px">
              {{ra.nameDosage}}
            </h2>

            <h2>
              @{{ra.timeScheduled.slice(11,16)}}
            </h2>

            <span>Taken?</span>
            <span ng-show="{{ra.isTaken}}" >Yes</span>
            <span ng-show="{{!ra.isTaken}}" >No</span>

            <input type="checkbox" ng-click="vm.editIsTaken(ra)">
        </div>
      </div>
    </div>
  </div>
</div>
