<div>
  <div class="user-left-nav">
    <div>
      <a ui-sref="splash.welcome"><img src="/assets/victor.png" alt="Logo of Victor "></a>
    </div>
    <ul>
      <li ui-sref="user.myregimen" ng-click="vm.showRegimens()">MY REGIMEN</li>
      <li ui-sref="user.mymeds" ng-click="vm.showRegimens()">MY MEDS</li>
      <li ui-sref="user.myreport">MY REPORT</li>
      <li ui-sref="user.mydoctors">MY DOCTORS</li>
      <li ui-sref="user.myappointments">MY APPOINTMENTS</li>
      <li ui-sref="user.mysupport">MY SUPPORT</li>
      <li ui-sref="user.mysupport">SETTING</li>
      <li ui-sref="user.contactus">CONTACT US</li>
      <li ng-click="vm.logout()">LOG OUT</li>
    </ul>

  </div>
</div>



<span class="user-name">Good day, {{vm.user.firstName}} {{vm.user.lastName}}!</span>
<main class="user-main" ui-view style="padding-top: 10px ">


</main>

