$red: #ed3d37;
$greenish: #99f499;
$blueish: #4e93cf;
$offwhite: #F4F4F4;
$almostblack: #2A2A2A;


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

button {
  cursor: pointer;
  cursor: hand;
}

body {
  font: 1em/1.25, Arial, Helvetica, sans-serif;
  font-family: Raleway, sans-serif;
}


/* Headlines */
h1, h2, h3, h4, h5, h6, p  {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Raleway, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  display: inline;
}


nav {
  width: 100%;
  display: inline;
  position: absolute;

  div {
    display: inline;
  }

  img {
    width: 200px;
    height: auto;
    margin-left: 25px;
    margin-top: 15px;
  }

  ul {
    float: right;
    margin-top: 35px;
    li {
      display: inline;
      margin-right: 25px;
      a {
        color: $offwhite;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
      }
    }
    .download {
      border: solid 4px red;
      border-radius: 90px;
      padding: 13px 11px 10px 11px;
      margin-right: 30px;
    }
  }
}

.hamburger {
  width: 35px;
  position: fixed;
  top: 15px;
  right: 20px;
  display: none;
  z-index: 10;
}

.toggle-nav {

  ul {
    background: $almostblack;
    position: fixed;
    width: 100%;
    top: 0px;
    margin-top: 0;
    li {
      display: block;
      margin: 10px 0 10px 25px;
      a {
        color: $offwhite;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  nav {
    display: none;
  }
  .hamburger {
    display: initial;
  }
}


@media (max-width: 875px) {
  nav {
    display: none;
  }
  .hamburger {
    display: initial;
  }
}



.video-container {
  color: $offwhite;
  overflow: hidden;
  z-index: 0;
  text-align: center;

  video {
    background-color: $almostblack;
    padding: 0px;
    position: absolute;
    right: 0;
    min-width: 100%;
    @media (max-height: 700px) {
      min-height: 90%;
    }
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
  }


  .intro-text {

    margin-top: 11%;
    h1 {
      font-size: 65px;
      font-weight: bolder;
      margin: 0.5em;
    }

    h2 {
      font-size: 30px;
      margin: 2.0em;
      font-weight: 300;

    }
    h3 {
      font-size: 30px;
      margin: 1.0em;
      color: $offwhite;
      padding: 15px;
      border-radius: 40px;
      display: inline-block;
      background-color: rgba(0,0,0,0.3);
      cursor: pointer;
      cursor: hand;
    }
  }
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

.video-container {
    .intro-text {

      h1 {
        font-size: 35px;
      }

      h2 {
        font-size: 25px;
      }
      h3 {
        font-size: 20px;
        margin: 1.0em;
        color: $offwhite;
        padding: 15px;
        border-radius: 40px;
        display: inline-block;
        background-color: rgba(0,0,0,0.3);
        cursor: pointer;
        cursor: hand;
      }
    }
  }
}


@media (max-width: 875px) {
  .video-container {
      .intro-text {

        h1 {
          font-size: 35px;
        }

        h2 {
          font-size: 25px;
        }
        h3 {
          font-size: 20px;
          margin: 1.0em;
          color: $offwhite;
          padding: 15px;
          border-radius: 40px;
          display: inline-block;
          background-color: rgba(0,0,0,0.3);
          cursor: pointer;
          cursor: hand;
        }
      }
    }
}

.intro-badges {
  position: relative;
  float: right;
}

.badge {
  width: 190px;
  height: 60px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  margin-right: 15px;
  margin-top: 10px;

  img {
    max-width:100%;
    max-height:100%;
  }
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .badge {
    img {
      float: right;
      max-width: 75%;
      max-height: 75%;

    }
  }
}


@media (max-width: 875px) {
  .badge {
    img {
      float: right;
      max-width: 75%;
      max-height: 75%;

    }
  }
}

.badge:hover {
    opacity: 0.75;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    cursor: pointer;
    cursor: hand;
}

.intro-goals {
  text-align: center;
  position: relative;
  margin: 20px 30px;
  h2 {
    font-size: 50px;
    font-weight: bolder;
    margin-top: 1.5em;
    border: solid black 3px;
    border-radius: 40px;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
    padding: 10px 30px;
  }
  div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    div {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 40px;

      h3 {
        font-size: 30px;
        font-weight: bolder;
      }

      img {
        width: 250px;
        height: 250px;
        margin: 0 auto;
      }


      p {
        font-size: 20px;
        max-width: 250px;
        margin: 0 auto;
      }
    }
  }
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .intro-goals {
    div {
      flex-direction: column;
    }
  }
}

.intro-userstories {
  margin: 50px;
  background: url("../assets/user_story_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: $offwhite;
  h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 1.5em;
    display: inline-block;
    margin: 3% 0 3% 6%;
  }
  div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    div {
      background: rgba(0,0,0,0.4);
      padding: 1.0em;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      max-width: 250px;
      margin: 25px 5px;
    }
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .intro-userstories {
    margin: 0;
    div {
      flex-direction: column;
      justify-content: center;
      div {
        max-width: 100%;
      }
    }
  }
}


footer {
  background-color: $almostblack;
  color: $offwhite;
  min-height: 200px;


  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 30px;

    div {
      display: flex;
      flex-direction: column;
      padding-top: 8px;

      ul {
        padding: 0;
      }

    }

    a {
      text-decoration: none;
      color: $offwhite;
    }

    h4 {
      text-transform: uppercase;
      font-size: 20px;
    }

    li {
      font-size: 15px;
      font-weight: 300;
    }

    .badge {
      width: 130px;
      height: 40px;
      opacity: 0.4;
      filter: alpha(opacity=40);


      img {
        max-width:100%;
        max-height:100%;
      }
    }

    .badge:hover {
        opacity: 0.75;
        filter: alpha(opacity=60); /* For IE8 and earlier */
        cursor: pointer;
        cursor: hand;
    }
  }
  .footer-company {
    clear: bottom;
    padding-bottom: 20px;
  }

  .social {
    display: inline;
    img {
      margin-right: 5px;
      width: 30px;
      height: 30px;
    }
  }
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  footer{
    text-align: center;

    div {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        max-width: 100%;
      }

    }
  }
}

.theapp-victor {
  background-color: $almostblack;
  color: $offwhite;
  padding: 100px;
  min-height: 450px;
  h1 {
    font-size: 60px;
    margin-top: 20px;
  }
  p{
    margin: 0;
    margin-top: 20px;
    max-width: 80%;
  }
}


.theapp-facts {
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: $blueish;
  padding: 60px;
  height: 500px;

  h3 {
    font-size: 27px;
    padding: 30px;
    font-weight: bolder;
  }

  img {
    margin-top: 80px;
    width: 120px;
    height: 120px;
  }
}

.theapp-problems {
  background-image: url("../assets/sickkid.jpg");
  color: $offwhite;
  overflow: hidden;
  background-repeat: no-repeat;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
  min-height: 750px;
  text-align: left;
  padding-bottom: 30px;

  > div {
    padding: 100px;

    margin-top: 11%;
    h1 {
      font-size: 80px;
      font-weight: bolder;
    }

    p {
      font-size: 30px;
      width: 60%;
      font-weight: bolder;
    }

    @media (max-width: 700px) {
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}


.aboutus-page{
  color: $offwhite;
  .aboutus {
    background: $almostblack;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    div {
      padding: 100px;
      h1 {
        padding-top: 11%;
        font-size: 85px;
      }
      h3 {
        font-size: 40px;
        padding: 0;
        font-weight: 300;
      }
    }
  }
  .ourgoals {
    background-image: url("../assets/ourgoals.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 50px;

    div {
      padding: 50px;
      background-color: rgba(0,0,0,0.4);
      margin: 0;
      h1 {
        font-size: 85px;
      }
      p{
        font-size: 30px;
        max-width: 800px;
        padding: 0;
      }
    }
  }
}

.signup-form {
  text-align: left;
  padding: 11% 0 11% 0;
  max-width: 815px;
  margin: 0 auto;

  > div {
    background-color: $offwhite;
    border-radius: 40px;
    border: 4px solid black;
    padding: 50px;
  }

  * {
    margin: 5px 10px;
  }

  h1 {
    font-size: 50px;
    padding: 10px 30px;
    font-weight: bolder;
  }
  input {
    padding: 15px 60px;
    border: 3px solid black;
    border-radius: 40px;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    min-width: 300px;

  }
  input[type="date"] {
    padding: 12.5px 105px;
    padding-left: 15px;
    border: 3px solid black;
    font-size: 16px;
    text-align: left;
  }
  input:placeholder-shown {
    text-align: left;
    font-size: 16px;
    padding-left: 15px;
    min-width: 300px;
  }

  .signup-submit {
    text-align: right;
    button {
      background-color: $greenish;
      border: 3px solid black;
      font-size: 16px;
      font-weight: bolder;
      padding: 15px 60px;
      min-width: 300px;
      border-radius: 40px;
    }
  }
  @media (max-width: 700px) {
  .signup-submit {
        text-align: left;
    }
  }
}

.login-form {
  text-align: left;
  padding: 11% 0 11% 0;
  max-width: 810px;
  margin: 0 auto;
  > div {
    background-color: $offwhite;
    border-radius: 40px;
    border: 4px solid black;
    padding: 50px;
  }

  * {
    margin: 5px 10px;
  }

  h1 {
    font-size: 50px;
    padding: 10px 30px;
    font-weight: bolder;
  }
  input {
    padding: 15px 60px;
    border: 3px solid black;
    border-radius: 40px;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    min-width: 600px;
  }

  .login-submit {
    text-align: right;
    button {
      background-color: $greenish;
      border: 3px solid black;
      font-size: 16px;
      font-weight: bolder;
      padding: 15px 60px;
      min-width: 300px;
      border-radius: 40px;
    }
  }

  @media (max-width: 700px) {
  input {
    min-width: 300px;
    }
  .login-submit {
        text-align: left;
    }
  }
}

.login-background {
    background-color: $blueish;
    background-repeat: no-repeat;
    background-size: cover;
}

.red-warning {
  background: $red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(70deg, $red 50%, $offwhite 50%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(70deg, $red 50%, $offwhite 50%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(70deg, $red 50%, $offwhite 50%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(70deg, $red 50%, $offwhite 50%); /* Standard syntax */
}


@media (min-width: 700px), handheld {
  video {
    height: auto;
    width: auto;
    min-height: 38%;
  }
}


@media (min-height: 750px) {
  .video-container::after {
    content: "";
    height: 350px;
    display: block;
  }
}



