$red: #ed3d37;
$greenish: #99f499;
$blueish: #2c6ba2;
$offwhite: #F4F4F4;
$almostblack: #2A2A2A;


h1 {
  margin-left: 10px;
}



.user-left-nav {
  float: left;
  position: fixed;
  width: 230px;
  height: 100%;
  background-color: #4e93cf;
  overflow: hidden;
  color: $offwhite;
  font-size: 20px;
  text-align: left;
  font-weight: bolder;
  -moz-box-shadow:    1px 0 2px 2px #555;
  -webkit-box-shadow: 1px 0 2px 2px #555;
  box-shadow:         1px 0 2px 2px #555;



  img {
    width: 220px;
    height: 73;
    margin-bottom: -35px;
  }

  li {
    margin: 0 0px 0 0px;
    padding: 15px 10px 15px 10px;

  }

  li:hover {
    background-color: #2c6ba2;
    cursor: pointer;
    cursor: hand;
  }
}

.user-name {
  color: $almostblack;
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 20px;
}

.user-main{
  background-color: $offwhite;
  z-index: -10;
  margin-left: 200px;
  padding-left: 40px;
  position: fixed;
  height: 100%;
  width: -webkit-calc(100% - 200px);
  width:    -moz-calc(100% - 200px);
  width:         calc(100% - 200px);
  overflow: scroll;
}


.add-new-meds-form {
  text-align: left;
  padding: 11% 0 11% 0;
  max-width: 810px;
  margin: 0 auto;
  > div {
    background-color: $offwhite;
    border-radius: 40px;
    border: 4px solid black;
    padding: 50px;
  }

  * {
    margin: 5px 10px;
  }

  h1 {
    font-size: 50px;
    padding: 10px 30px;
    font-weight: bolder;
  }
  input {
    padding: 15px 60px;
    border: 3px solid black;
    border-radius: 40px;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    min-width: 300px;
  }

  .login-submit {
    text-align: right;
    button {
      background-color: $greenish;
      border: 3px solid black;
      font-size: 16px;
      font-weight: bolder;
      padding: 15px 60px;
      min-width: 300px;
      border-radius: 40px;
    }
  }

  @media (max-width: 700px) {
  input {
    min-width: 300px;
    }
  .login-submit {
        text-align: left;
    }
  }
}



//card design

h1 {
  display: block;
  font-size: 3.1em;
  line-height: 1.45em;
  text-align: left;
  color: #2A2A2A;
  text-shadow: 1px 1px 0 #fff;
}


.card {
  display: block;
  margin: 1px 10px 0 10px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  font-size: 0;
  width: 93%;


  div {
    display: inline-block;
    padding: 10px 15px 10px 10px;

    div  {
      display: inline-block;
      padding: 5px 15px 5px 10px;
      vertical-align: top;
      font-size: 13px;
      font-weight: bold;
      color: #2A2A2A;
      cursor: pointer;

      span {
        margin-left: 3%;
      }
    }

    div * {
      display: inline;
    }

    div small {
      display: block;
    }


  }

  div.col-4 {
    position: absolute;
  }
}


/** responsive design **/
@media(min-width: 850px){

  // .col-1, .col-2, .col-3, .col-4, .col-q { box-shadow: 1px 1px #e4e4e4; border: none; }
  .col-1 { width: 100% }
  .col-2 { width: 50% }
  .col-3 { width: 33.3333333333% }
  .col-4 { width: 25% }
  .col-q { width: 16.6666666667% }
  .col-75{width: 75%}


  .col-submit button { width: 30%; margin: 0 auto; }
}


.card-side-icon {
  display: inline;
  margin-left: -30px;
  margin-top: 4px;
  z-index: -5;

  div {
    padding: 10px 10px 10px 30px;
    margin-top: 8px;
    background-color: white;
    border-radius: 15px;
    -moz-box-shadow:    0.5px 0 0.5px 0.5px #555;
    -webkit-box-shadow: 0.5px 0 0.5px 0.5px #555;
    box-shadow:         0.5px 0 0.5px 0.5px #555;
    img {
      max-width: 30px;
      max-height: 30px;
    }
  }
}

.card-n-icon {
  display: flex;
}

.add-icon {
  margin-top: -10x;
  max-height: 50px;
  background: white;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;


  img {
    max-width: 25px;
    max-height: 25px;
  }
}


