/*[ui-view].ng-enter {
  transition: all 1s ease;
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}
*/


/*Animate the ng-repeat*/

@keyframes appear {
  from {
    opacity: 0;
    height: 0;

  }
  to {
    opacity: 1;
    height: 135px;
  }

}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes shrink {
  from {
    height: 135px;
  }
  to {
    height: 0;
  }
}
@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 135px;
  }
}
.card-n-icon.ng-enter {
  animation: 0.5s appear;
}
.card-n-icon.ng-leave {
  animation: 0.5s disappear;
}
.card-n-icon.ng-move {
  animation: 0.5s shrink;
}
.card-n-icon.ng-move-active {
  animation: 0.5s grow;
}
