[ui-view].ng-enter {
  transition: all 1s ease;
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}



.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;

  animation-duration: 8s;
  -webkit-animation-duration: 8s;

  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

.slideRight2 {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;

  animation-duration: 6s;
  -webkit-animation-duration: 6s;

  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }

  15% {
    transform: translateX(0%);
  }

  85% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(150%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }

  15% {
    transform: translateX(0%);
  }

  85% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(150%);
  }
}


/*Animate the ng-repeat*/

@keyframes appear {
  from {
    opacity: 0;
    height: 0;

  }
  to {
    opacity: 1;
    height: 135px;
  }

}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes shrink {
  from {
    height: 135px;
  }
  to {
    height: 0;
  }
}
@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 135px;
  }
}
.card-n-icon.ng-enter {
  animation: 0.5s appear;
}
.card-n-icon.ng-leave {
  animation: 0.5s disappear;
}
.card-n-icon.ng-move {
  animation: 0.5s shrink;
}
.card-n-icon.ng-move-active {
  animation: 0.5s grow;
}


